/* FONTS */
@font-face {
    font-family: "Yanone Kaffeesatz";
    src: url("fonts/yanonekaffeesatz.woff2") format("woff2"),
         url("fonts/yanonekaffeesatz.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 15px;
	height: 10px;
	background: #0000009e;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
	background: #0000009e;
}

::-webkit-scrollbar-thumb {
	min-height: 28px;
	background: #444444c2;
}

::-webkit-scrollbar-thumb:hover {
	background: #444444e8;
}

/* GENERAL */
:focus {
	outline-color: #dfdfdf;
}

html, body {
	background-image: url("../images/bg-light.png");
	background-color: #111111;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    text-align: center;
	margin: 0;
	scroll-padding-top: 3rem;
	overflow-x: hidden;
	transition: 0.2s all ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yanone Kaffeesatz";
    margin: 0.65rem 0;
}

p {
    margin: 0;
    font-weight: 400;
}

a {
	text-decoration: none;
	color: #af2319;
}

li {
	list-style-type: none;
}

.pad-ctn {
    padding: 1rem;
}

.small-ctn {
    width: 25rem;
    height: auto;
    margin: 1rem auto;
}

.large-ctn {
    min-height: 70vh;
    width: 100%;
}

.section { /* Temporary */
    background-color: rgba(255, 255, 255, 0.65);
	border: 1px solid #000;
	margin: 1rem;
}

.footer {
	text-align: center;
	padding: 1rem 0;
    margin: 0;
    background-color: #fff;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 1rem 0;
	background-color: #f0f0f0;
}

nav > a {
	display: inline-block;
	margin: 0 1.7rem;
	font-size: 1.5em;
	font-weight: 400;
	color: #2c3539;
}

.nav-sticky {
	position: fixed;
	top: 0;
	right: 0;
    left: 0;
    z-index: 2;
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}

.nav-sticky > a {
	margin: 0 1rem;
	font-size: 1em;
	color: #dfdfdf;
}

nav, nav > a, .nav-sticky, .nav-sticky > a, #nav-logo {
	transition: 0.2s all ease-in-out;
}

.zero-height {
	height: 0 !important;
}

/* IMAGES */
.icon {
    height: 1em;
    width: auto;
    margin: 0 0.5em;
}

.logo-small, .logo-large {
	width: auto;
	margin: 0;
}

.logo-small {
	height: 6rem;
}

.logo-large {
	height: 12rem;
}

.pfp {
    max-height: 15rem;
    width: auto;
    place-self: center;
    object-fit: cover;
    object-position: center;
}

.hero {
	width: 100%;
	max-height: 40rem;
	object-fit: cover;
	object-position: center;
	animation: movePosition 10s ease-in-out 1s infinite alternate both;
	transition: all 0.3s ease-in-out;
}

@keyframes movePosition {
	0%		{object-position: left top;}
	100%	{object-position: right bottom;}
}

.div-bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #dfdfdf;
    text-shadow: 2px 2px 2px #111;
}

.div-bg-img .icon {
    filter: invert(1);
}

#reservations {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/reservation.jpeg"); */
    background-color: #171717;
}

#location {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/restaurant-chairs.jpg");
    background-color: rgba(0, 0, 0, 0.65);
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/contact.jpeg");
    background-color: rgba(0, 0, 0, 0.65);
}

#about {
    background-color: #ffffff;
}

/* FORM */
form {
    max-width: 40rem;
    margin: 0 auto;
}

input, select, textarea {
    display: block;
    width: 100%;
	padding: 0.4rem;
	margin: 0.3rem auto;
	color: #dfdfdf;
	background: rgba(0, 0, 0, 0.85);
    border: 1px solid #171717;
    box-shadow: 1px 1px 5px #000;
	box-sizing: border-box;
}

input[type="submit"] {
    cursor: pointer;
}

input:focus:invalid {
    border-color: #910606;
    box-shadow: 0 0 0 0.2rem #cb000085;
}

input:focus:valid {
    border-color: #00a33f;
    box-shadow: 0 0 0 0.2rem #00cf5099;
}

textarea {
    height: 5rem;
    resize: none;
}

input[type="date"] {
    text-transform: uppercase;
}

input[type="date"]::-webkit-clear-button, input[type="date"]::-webkit-inner-spin-button, input[type="time"]::-webkit-inner-spin-button  {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #444;
    background-color: rgba(0, 0, 0, 0);
}

.form-row {
    margin-right: 0.4rem;
}

/* MISCELLANEOUS */
#store-info {
    margin: 1rem 2rem 1rem auto;
    padding: 0;
    line-height: 2.5;
}

#map {
	width: 30rem;
	height: 25rem;
	margin: 1rem auto 1rem 1rem;
	border: 2px solid #a00b0b;
}
